<!-- DEfine o navbar define o texto e define a cor de fundo-->
<nav class="navbar navbar-light bg-primary">
    <a href="/">
        <img src="/img/guia.png" alt="Logo" class="navbar-brand"> <!-- Alinha a esquerda -->
    </a>
</nav>