<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas and Respostas</title>
</head>
<body>
    <h1>Perguntas e respostas</h1>
    <!-- Exibindo valores de variaveis com EJS -->

    <% if(habilitado){ %> <!-- Utilizado para expressoes -->
        <h3>Vc está habilitado!</h3>
        <%= nome %> <!-- Exibe o valor da variavel -->
        <%= idade %>
    <% } else{%>
        <h3>Vc nao está habilitado!</h3>
    <%  }%>
</body>
</html>